* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, Roboto, sans-serif;
  min-height: 100vh;
  font-weight: 400;
  background: url("../resources/desktop/images/robot.png");
  background-position: center;
  color: #ffffff;
}
